.admin-dashboard {
    padding: 20px;
}
  
.admin-dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
}
  
.admin-dashboard nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
  
.admin-dashboard nav a {
  text-decoration: none;
  color: #007bff;
  ont-weight: bold;
}
  
.admin-dashboard nav a:hover {
  text-decoration: underline;
}